{% extends 'base.html' %}
{% block content %}
    <form method="post">
      <label for="article">Please write an article or text to extract labels:</label>
      <textarea id="article" name="article" placeholder="Write something.." style="height:200px"></textarea>
      <button  type="submit" name="operation" value="label" class="button button2" title="Click here to get labels">Get labels</button>
      <button  type="submit" name="operation" value="phrases" name="phrases" class="button button2" title="Click here to get phrases">Get phrases</button>
    </form>
  </div>
{% endblock %}